:root {  /* set up css variables */
  --ff-primary: 'Outfit', san-serif;
  --ff-body:var(--ff-primary);
  --ff-heading:var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-400: .875rem;
  --fs-700: 1.875rem;

  --fc-light-gray: hsl(212, 45%, 89%);
  --fc-grayish-blue: hsl(220, 15%, 55%);
  --fc-dark-blue: hsl(218, 44%, 22%);

}

/* Set core body defaults */
body {
  font-family: 'Outfit', san-serif;
  background: hsl(212, 45%, 89%);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  align-items: center;
  font-size: 15px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility */

.container {
  background-color: white;
  border-radius: 17px;
  margin: 0 auto;
  max-width: 700px;
  filter: drop-shadow(.75em .75em 1em rgb(88, 88, 88));
}

.imgBox {
  padding: 18px;
  text-align: center;
}

.imgBox img {
  border-radius: 1.875rem;
}


.fw-regular { font-weight: var(--fw-regular);}
.fw-bold { font-weight: var(--fw-bold);}

.fs-400 { font-size: var(--fs-400);}
.fs-700 { font-size: var(--fs-700);}

.fc-light-gray { color: var(--fc-light-gray);}
.fc-dark-blue { color: var(--fc-dark-blue);}
.fc-grayish-blue { color: var(--fc-grayish-blue);}
